
.posts {
    /* Define a largura do container de protocolos */
    width:100%; 
    height: 100vh;

    padding: 10px 15px;    

    display: flex;
    flex-direction: column;
}

@media (max-width: 768px) {
    .posts {
        /* Largura 100% do disponivel*/
        width: 100vw; 

        /* Altura automática com base no conteúdo */
        height: auto; 

        /* Remove as bordas */
        border: none;
    }
    
    .header {
        /* Redefinindo o espaçamento em telas menores */
        padding: 10px 20px;
        width: 100vw;

    }

    /* Fazendo a imagem GOV sumir */
    .header_left img {
        display: none;
    }

    .header_right img {
        padding-left: 20px;
    }

    .header_icons img {
        /* Diminuindo os icones */
        width: 65px; 
        height: 65px;
    }

        /* Voltando a deixar os elementos um abaixo do outro */
    .main {
        flex-direction: column; 
        border: none;
    }
    
    .main h1 {
        font-weight: 700;
        font-size: 25px;
        font-style: italic;
        text-align: center;
    
        color: #4F5154;
    }

    .main h2 {
    
        font-weight: 600;
        font-size: 18px;
        font-style: italic;
        text-align: left;
    
        color: #2864AE;
    }

    .main a {
        color: #5B5C60;
        text-decoration: none;
    
        font-size: 16px;
        text-align: center;
    }


    
    /* Adicione espaço entre os elementos empilhados verticalmente */
    .post {
        /* Espaço entre os elementos empilhados verticalmente */
        margin-bottom: 20px; 
        

    /* Alinha o texto ao centro horizontalmente */
        text-align: center; 
    }
}

@media (max-width: 640px) {
    .header {
        /* Redefine o espaçamento em telas menores */
        padding: 15px;

        /* Largura 100% do disponivel */
        width: 100vw; 
    }

    .header_right img {
        /* Reduz o tamanho dos ícones */
        width: 60px; 
        height: 60px;

        /* Espaçamento à esquerda do ícone */
        padding-left: 20px; 
    }

    .header_icons img {
        /* Reduz o tamanho do logotipo em telas menores */
        width: 55px; 
        height: 55px;
    }

    .header_icons {
        /* Espaço entre os ícones */
        gap: 35px; 
    }

    /* Altera a direção dos elementos para empilhá-los verticalmente */
    .sidebar_container {
        flex-direction: column;
    }
 

    /* Estilos para a seção de posts em telas menores */
    .posts {
        /* Largura 100% do disponivel*/
        width: 100vw; 

        /* Altura automática com base no conteúdo */
        height: auto; 

        /* Remove a borda direita */
        border-right: none;
        
        /* Borda superior */
        border-top: 2px #A7BFDE solid;
        
        /* Borda inferior */
        border-bottom: 2px #A7BFDE solid; 
    }
}

@media(max-width: 475px) {
    .main h1 {
        font-weight: 700;
        font-size: 22px;
        font-style: italic;
    
        color: #4F5154;
    }

    .main h2 {
        padding-top: 10px;
    
        font-weight: 600;
        font-size: 18px;
        font-style: italic;
        text-align: left;
    
        color: #2864AE;
    }

    .main a {
        color: #5B5C60;
        text-decoration: none;
    
        font-size: 16px;
        text-align: center;
    }

        .header_icons img {
            /* Diminuindo os icones */
            width: 40px; 
            height: 40px;
        }
}