.posts {
    /* Define a largura do container de protocolos */
    width:100%; 
    height: 100vh;

    padding: 10px 15px;    

    display: flex;
    flex-direction: column;
}


@media (max-width: 640px) {

    /* Estilos para a seção de posts em telas menores */
    .posts {
        /* Largura 100% do disponivel*/
        width: 100vw; 

        /* Altura automática com base no conteúdo */
        height: auto; 

        /* Remove a borda direita */
        border-right: none;
    }
}
